<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="\public\stylesheets\login.css">
</head>
<body>
        <form action="http://localhost:5232/" method="post">
            <section>
            <!-- Navbar start -->
                <nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py=0 fixed-top">
                    <a href="#"class="navbar-brand">Brand</a>
                        <button type="button" href="#" class="navbar-toggler" data-toggle="collapse" data-target="#navlinks" active>
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    <div class="collapse navbar-collapse" id="navlinks">
                        <ul class="navbar-nav">
                            <!-- Navbar sub-links -->
                            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Menu</a></li>
                        </ul>					
                    </div>
                </nav>
            <!-- Navbar end -->
            </section>
            <section id="box">
                <div class="container">
                    <div class="row">
                        <div class="Login-box col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 offset-lg-8" >
                            <div class="container-2" id="username"> 
                                <label> Your Name : </label>
                                <input id ="name" name="username"type="email" placeholder="email id" requried ><br>
                                <label> Password : </label>
                                <input id ="password" name="password" type="password" placeholder="password" requried >
                            </div>		
                            <button class="btn btn-md btn-primary" id="proceed" href='http://localhost:5232/admin_dashboard' active>Proceed</button>
                        </div>
                    </div>
                </div>
            </section>	
        </form>
        <footer>
                <ul>
                    <li><a href="#"> Contact us </a></li>
                    <li><a href="#"> Reach us  </a></li>
                    <li><a href="#"> About us  </a></li>	
                </ul>
        </footer>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>